* {
  font-family: "Alegreya Sans", sans-serif;
}

.logo {
  width: 2rem;
}

.logo-title {
  width: 3rem;
}

.letter-spacing {
  letter-spacing: 0.5px;
}

.post-bg {
  background-color: #f3f3f3;
}

.content {
  font-size: 1.2rem !important;
}

.bulb {
  width: 10rem;
}

.like {
  border: none;
  background-color: transparent;
}

.liked {
  color: #fb3958;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 45%;
  left: 47%;
}

.btn:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.preview:hover {
  transform: scale(1.02);
  transition: all 0.3s;
}

.nav-link:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.bi-heart:hover {
  color: #fb3958;
}

.github:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

@media only screen and (max-width: 768px) {
  .auth {
    width: 80% !important;
  }

  .field {
    width: 75% !important;
  }

  .post {
    box-shadow: none !important;
    width: 100% !important;
  }

  .post-form {
    width: 100% !important;
    box-shadow: none !important;
  }
}

@media only screen and (max-width: 500px) {
  .spinner-border {
    left: 40%;
  }
}
